<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask REST Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    <div class="container">
        <h1 class="banner">Message Flask REST API Application</h1>
        <h3 class="banner">Visit Swagger Link : http://PUBLIC/LOCALHOST/PRIVATE-IP:5000/api/ui</h3>
        <h4 class="banner">GET Messages Link: http://PUBLIC/LOCALHOST/PRIVATE-IP:5000/api/message</h4>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>